.main-container{
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid silver;
    border-top: 10px solid black;
}
.navbar .topleft{
    margin: 10px;
    font-size: x-large;
    float: left;
}
.navbar .topright{
    float: right;
    margin: 10px;
}
.clearfix{
    overflow: auto;
}
.container-1 h1,p{
    text-align: center;
}
.container-1 h1{
    font-weight: bolder;
    font-size: 50px;
    line-height: 10px;
    margin-top: 50px;
}
.container-2,.container-4{
    background-color: silver;
    margin-left: 50px;
    margin-right: 50px;
}
.container-2 h3{
    width: 15%;
    text-align: right;
    font-size: 25px;
}
label{
    width: 30%;
    text-align: right;
    font-size: 30px;
    margin-right: 20px;
}
.container-2 h5{
    margin-left: 23%;
}
.container-2 textarea{
    width: 70%; 
}
.container-2 h5{
    line-height: 0px;
}
.container-2 select{
    width: 40%;
    height: 50px;
}
.l1{
    display: inline-block;
}
.container-2 p{
    
    width: 30%;
    color: grey;
    font-size: 20px;
}
.container-2 button{
    width: 25%;
    margin-left:23%;
    margin-top: 20px;
    height: 40px;
    font-size: 18px;
    overflow: hidden;
}
.container-2 .smallfonts{
    color: gray;
    font-size: 15px;
}
.container-2{
    padding: 20px;
    margin-bottom: 30px;
}
.container-3 .li,.li1{
    display: inline-block;
    margin: 10px;
    margin-bottom: 0px;
    background-color: silver;
    font-size: x-large;
    padding: 5px;
    border-bottom: 2px solid darkgrey;
}
.container-3 .li1{
    float: right;
    background-color: white;
    font-size: larger;
}
.container-4{
    margin: 0px;
}
.r411 .h11{
    margin: 10px;
}
.r411 .h11,h5{
    display: inline;
    width: 30%;
}
.r411 h5{
    margin-left: 20px;
    color: gray;
}
.r411 .h12{
    float: right;
    margin-top: 2px;
    margin-right: 5px;
}
.r421 textarea{
    width: 80%;
    height: 80px;
}
.r421 button{
    width: 15%;
    height: 85px;
    vertical-align: top;
}
.r4211,.r4212{
    display: inline-block;
}
.r43 p{
    text-align: left;
}
.r44{
    width: 100%;
    background-color: darkgray;
    height: 70px;
    
}
.r44 h4{
    text-align: center;
    position: relative;
    top: 40%;
}
.r45 span,.r47 span{
    color: gray;
}
.r46,.r48{
    width: 70%;
    background-color: darkgrey;
}
.r48,.r47{
    margin-right: 10px;
}
.r49 {
    width: 50%;
    background-color: darkgrey;
    height: 120px;
    margin-left: 25%;
    overflow: hidden;
}
.r49 h2{
    position: relative;
    top: 10%;
    text-align: center;
}
.r49 h4 {
    position: relative;
    top: 0%;
    text-align: center;
    color: slategray;
}

.c4{
    padding: 20px;
    margin-bottom: 0px;
    
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.fl,.fr{
    color: gray;
    margin-top: 0px;
}
.s1,.s2,.s3{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}
.r47{
    text-align: right;
}
.r48{
    margin-left: 30%;
}

.ach1{
    border-bottom: 3px solid darkgray;
}
.acleft{
    width: 20%;
    float: left;
    text-align: right;
    height: 80px;
}
.acleft > h2{
    font-size: 20px;
    border-bottom: 1px solid black;
}
.acleft >h4{
    font-size: 15px;
    position: relative;
    top: -15px;
    color: darkgray;
}
.acright{
    
    width: 77%;
    float: right;
    height: 85px;
}
.acright > p{
    text-align: left;
    font-size: 15px;
}
.tag{
    background: black;
    color: white;
    padding: 1px;
    font-size: 10px;
}

a{
    color: black;
    
}
.tab-content{
    display: none;
}

#tab-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}


.card {
    background: white;
    width: 180px;
    height: 240px;
    margin: 20px;
    box-shadow: 10px 10px 5px darkgrey;
}

.card:hover{
    transform: scale(1.1);
}

.card .pic{
    height: 130px;
    width: 130px;
    background: url("https://img.icons8.com/pastel-glyph/2x/user-male.png");
    background-size: contain;
    margin: 10px auto;
}

.card .text{
    color: black;
    margin: 10px;
}

.card .subtext{
    color: darkgrey;
    margin: 10px;
}